.signUpWrapper{
    margin: 5px;
    padding-top: 5px;
    /* border: 3px dashed rgb(255, 255, 255); */
    height: 70%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: space-evenly;
}

.signUpForm{
    width:95%;
    background-color:#fff8e7;
}
.signUpButton{
width: 90%;
}
.lineBreak{
    border: none;
    width: 90%;
    background-color: #ff9900;
    height: 2px;
    content: 'OR';
    text-align: center;
    overflow: visible;

}

/* SIGN UP SWITCHES */


.switchWrapper{
    margin: 3px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    align-items: center;
  
}
/* label positioning off due to material ui */
.switchColumn{
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 200px;
}

p{
    /* border: 1px dashed white; */
    font-size: small ;
    color:  #fff8e7;
    display: flex;
    justify-content: center;

}

.MuiSwitch-track{
    background-color: #fff8e7;
}