.App {
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: #ECE9DE;
}

body {
  background-color: #F1E6C8;
}

.list-items {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  justify-content: space-evenly;
  box-shadow: 0 8px 6px -3px rgb(61, 61, 61);
}

.list-items li {
  list-style: none;
}

.card-content {
  border: 2px solid black;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}